// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #47bbb3;
$value-color:       #fff;
$font-size: 27px;

// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------
.widget-number {

  background-color: $background-color;
  font-size: $font-size;

  .value {
    color: $value-color;
    font-size: inherit;
    text-align: right;
    margin-right: 60px;
    margin-bottom: -10px;
  }
  
  .suffix {
    color: $value-color;
    text-transform: uppercase;
  }


}