// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #47bbb3;
$value-color:       #fff;
$font-size: 280%;

// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------
.widget-number {

  background-color: $background-color;
  font-size: 54px;
  
  .value {
    color: $value-color;
<<<<<<< Updated upstream
=======
    font-size: $font-size;
>>>>>>> Stashed changes
    text-align: right;
    margin-right: 20px;
  }
}
