// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #47bbb3;
$value-color:       #fff;
$font-size: 48px;

// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------
.widget-numberside {

  background-color: $background-color;
  font-size: $font-size;
  margin: auto;
  
  .num {
    color: $value-color;
    font-size: inherit;
    text-align: right;
    float: left;
    margin: inherit;
    margin-left: 10px;
  }
  
  .abr {
    color: $value-color;
    text-transform: uppercase;
    margin: inherit;
    margin-top: 20px;
  }


}