<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [320, 96]
  Dashing.numColumns = 2
  Dashing.widget_margins = [0, 0]
});
</script>

<% content_for :title do %>Kart Dash<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="rpm" data-view="Number" data-suffix="rpm" style="font-size:112px;"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mph" data-view="Number" data-suffix="mph" style="background-color:#96bf48;"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="temp" data-view="Number" data-suffix="cht" style="background-color:#FF9618;"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="lap" data-view="Number" data-suffix="lap" style="background-color:#EC663C;"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="time" data-view="Number" data-suffix="lap time" style="background-color:#EC663C;"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="time" data-view="Number" data-suffix="last lap" style="background-color:#EC663C;"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="delta" data-view="Number" data-suffix="lap delta" style="background-color:#EC663C;"></div>
    </li>
  </ul>
</div>
